body {
  font-family: sans-serif;
  margin: 0;
  /* background-color: rgba(0, 0, 0, 0.782); */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* kl start from here */
/* for home page */
.warpper {
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.img-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.single-img {
  padding: 0 5px 0px;
  width: 24%;
}
.single-img img {
  height: 100%;
  width: 100%;
}

/* for allpic page */

.container-imgs {
  display: flex;
}

.container-imgs-col1 {
  display: flex;
  flex-direction: column;
}

.container-imgs-col2-filter {
  /* height: 50px; */
}

.button-home {
  border-radius: 10px;
  height: 40px;
  background-color: rgba(35, 48, 9, 0.637);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin-left: 8px;
  /* padding-left: 10px;
  padding-right: 10px; */
  padding: 10px;
  color: white;
}

.button-home:hover {
  background-color: #81a1424d;
  color: rgb(230, 53, 22);
}

.nav {
  display: flex;
  background-color: rgba(0, 0, 0, 0.782);
  height: 120px;
}
.nav-2 {
  text-align: end;
}

.logo-div {
  margin: 0px;
  padding: 0px;
  display: flex;
}

.home-button-div {
  background-color: rgba(0, 0, 0, 0.782);
}

.pictureoflove {
  padding-top: 40px;
  padding-left: 300px;
  color: aliceblue;
  font-family: fantasy;
  font-size: 50px;
}

/* end of home */

/* start authorpictures */
.authorpictures-container {
  display: flex;
  /* align-items: stretch; */
  /* background-color: #f1f1f1; */
}
.authorpictures-container > div {
  width: 100px;
  /* height: 100px; */
  /* margin: 10px; */
  line-height: 35px;
  font-size: 16px;
}

.left {
  flex-grow: 1;
}

.right {
  flex-grow: 7;
}

.span-hidden {
  display: none;
}

.active {
  color: darkcyan;
}

li {
  list-style-type: none;
}

.older-img-div {
  display: flex;
  flex-direction: row;
}

.older-img-div span {
  padding-bottom: 10px;
}

.container-imgs-col2-filter {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding-top: 10px;
  padding-left: 100px;
}

.container-imgs-col2-filter select {
  width: 20%;
  height: 30px;
}

.btn-regular {
  height: 30px;
  border-radius: 10px;
}

/* end authorpictures */

/* start addpictures */
.add-form-div {
  display: flex;
}
.add-form-div-1 {
  flex-grow: 1;
  padding-top: 5px;
  /* background-color: rgba(128, 128, 128, 0.029) */
}
.add-form-div-2 {
  flex-grow: 5;
  padding-top: 0px;
  padding-left: 30px;
}

.add-form-div-2 img {
  width: 100%;
  height: 100%;
}

.add-form-div-1 form {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.add-form-div input[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 30px 0;
  width: 50%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.add-form-div input[type='file'] {
  /* display: none; */
}

.add-form-div select {
  width: 80%;
  height: 30px;
}

.custom-file-upload {
  border: 2px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
}
/* 
end addpictures */
